@import "bourbon";
@import "compass";
@import "breakpoint";
@import "singularitygs";

@import "variables";
@import "abstractions";
@import "base";

@include establish-baseline($base-font-size);

svg {
	display: inline-block;
	line-height: 1;
}

body {
	background: $navy;
	font-family: $sans-serif;
}

a {
	@include link-colors($white, $white, $white, $white, $white);
	text-decoration: underline;

	&:visited {
		text-decoration: underline;
	}

	&:active, &:focus, &:hover {
		text-decoration: underline;
	}
}

.l-section-title {
	@include font-size(11px);
	line-height: ($base-line-height / $em-base);
	font-weight: bold;
	text-transform: uppercase;
}

.l-bg {
	display: none;
	position: absolute;
	z-index: 0;
	top: 50%;
	left: 50%;
}

.l-header {
	display: block;
	position: relative;
	z-index: 5;
	overflow: hidden;

	.l-site-name {
		@include element-invisible;
	}

	.l-logo {
		display: inline-block;
		background: $sky;
		padding: ($vert-spacing-unit * 0.5);
		line-height: 1;

		.icon-logo {
			@include font-size(44px);
		}
	}
}

.l-main {
	display: block;
	position: relative;
	z-index: 10;

	.l-content {
		position: relative;

		.l-radio,
		.l-dandelion,
		.l-history,
		.l-about,
		.l-about-bg {
			@include clearfix;
			display: block;
			position: relative;
			z-index: 10;
		}

		.l-radio,
		.l-history,
		.l-dandelion {
			a {
				display: block;
				cursor: pointer;
				position: relative;
				width: 100%;
				height: 0;
				padding: 0 0 100%;
				text-decoration: none;

				&:visited {
					text-decoration: none;
				}

				&:active, &:focus, &:hover {
					text-decoration: none;
				}

				.l-section-title {
					display: block;
					position: absolute;
					z-index: 50;
					top: 0;
					right: 0;
					margin: 0;
					padding: ($vert-spacing-unit * 2.5) ($horz-spacing-unit * 2.5);
				}
			}
		}

		.l-radio {
			a {
				.l-section-title {
					color: $navy;
				}

				.icon-radio,
				.icon-radio-bg {
					position: absolute;
					top: 0;
					left: 0;
					display: block;
					width: 100%;
					height: 0;
					padding: 0 0 100%;

					svg {
						position: absolute;
						width: 100%;
						height: 100%;
						top: 0;
						left: 0;
					}
				}

				.icon-radio {
					z-index: 10;
				}

				.icon-radio-bg {
					z-index: 0;
				}
			}
		}

		.l-history {
			a {
				.l-section-title {
					color: $white;
				}

				.icon-history-speaker,
				.icon-history-logo,
				.icon-history-bg {
					position: absolute;
					top: 0;
					left: 0;
					display: block;
					width: 100%;
					height: 0;
					padding: 0 0 100%;

					svg {
						position: absolute;
						width: 100%;
						height: 100%;
						top: 0;
						left: 0;
					}
				}

				.icon-history-speaker {
					z-index: 10;
				}

				.icon-history-logo {
					z-index: 5;
				}

				.icon-history-bg {
					z-index: 0;
				}

				&:active, &:focus, &:hover {
					.l-section-title {
						color: $navy;
					}
				}
			}
		}

		.l-dandelion {
			a {
				background-color: $dark-sky;
				background-repeat: no-repeat;
				background-position: 50% 50%;
				background-size: auto;

				.l-tbl {
					display: table;
					width: 100%;
					height: 100%;
					position: absolute;
					top: 0;
					left: 0;

					.l-row {
						display: table-row;

						.l-cell {
							display: table-cell;
							text-align: center;
							vertical-align: middle;
							padding: ($vert-spacing-unit * 3) 15%;
						}
					}
				}

				.l-section-title {
					color: $lemon;
				}

				.l-title {
					display: block;
					color: $white;
					@include font-size(32px);
					line-height: ($base-line-height / $em-base);
					font-family: $serif;
				}

				.l-description {
					display: block;
					color: $white;
					@include font-size(12px);
					line-height: ($base-line-height / $em-base);
					margin: ($vert-spacing-unit * 0.4) 0;
				}

				&:active, &:focus, &:hover {
					.l-title,
					.l-description {
						color: $sky;
					}
				}
			}
		}

		.l-about {
			.l-constrained {
				padding: ($vert-spacing-unit * 4) 5% 0;
			}

			.l-headline {
				display: none;
				@include font-size(18px);
				font-family: $serif;
				color: $white;
				font-style: italic;
				text-align: center;

				p {
					line-height: ($base-line-height / $em-base);
				}

				em {
					font-style: normal;
				}
			}

			.l-social {
				.l-section-title {
					color: $light-sky;
					margin: 0 0 1em;
					@include element-invisible;
				}

				.l-menu {
					@include font-size(12px);
					line-height: ($base-line-height / $em-base);
					list-style: none;
					margin: 0;
					padding: 0;
					text-align: center;

					.l-leaf {
						display: inline-block;
						list-style: none;
						margin: 0 ($horz-spacing-unit * 0.75) 0 0;
						padding: 0 ($horz-spacing-unit * 0.75) 0 0;
						border-right: 1px solid $dark-sky;

						&:last-child {
							margin: 0;
							padding: 0;
							border: 0;
						}

						a {
							text-decoration: none;

							&:visited {
								text-decoration: underline;
							}

							&:active, &:focus, &:hover {
								text-decoration: underline;
							}
						}
					}
				}
			}
		}

		.l-about-bg {
			display: none;
			z-index: 0;

			.icon-about-bg {
				position: absolute;
				top: 0;
				left: 0;
				display: block;
				width: 100%;
				height: 0;
				padding: 0 0 100%;

				svg {
					position: absolute;
					width: 100%;
					height: 100%;
					top: 0;
					left: 0;
				}
			}
		}
	}
}

.bgsizecover {
	.l-main {
		.l-content {
			.l-dandelion {
				a {
					-webkit-background-size: cover;
					-moz-background-size: cover;
					-o-background-size: cover;
					background-size: cover;
				}
			}
		}
	}
}

.l-footer {
	@include clearfix;
	display: block;
	position: relative;
	z-index: 10;
	color: $navy-grey;

	.l-constrained {
		padding: ($vert-spacing-unit * 1) 5% ($vert-spacing-unit * 2);
	}

	.l-credit {
		display: block;
		width: 100%;
		text-align: center;

		p {
			@include font-size(12px);
		}

		a {
			@include link-colors($light-sky, $light-sky, $light-sky, $light-sky, $light-sky);
			text-decoration: none;

			&:visited {
				text-decoration: none;
			}

			&:active, &:focus, &:hover {
				text-decoration: underline;
			}
		}
	}

	.l-footer-menu {
		margin: ($vert-spacing-unit) 0 0;

		.l-menu {
			list-style: none;
			margin: 0;
			padding: 0;
			text-align: center;

			.l-leaf {
				display: inline;
				list-style: none;
				margin: 0 ($horz-spacing-unit * 2) 0 0;
				padding: 0;

				&:last-child {
					margin-right: 0;
				}
			}
		}

		a[class^="icon-"], a[class*=" icon-"] {
			@include font-size(30px);
			line-height: 1;
		}
	}
}

/*----------------------------------------------------------------------
>= 752
----------------------------------------------------------------------*/

@media screen and (min-width: $medium) {

	.l-header {
		.l-logo {
			padding: ($vert-spacing-unit * 0.7);

			.icon-logo {
				@include font-size(60px);
			}
		}
	}

	.l-main {
		.l-content {
			@include clearfix;

			.l-radio {
				@include grid-span(8, 1, $gutter: 0);
			}

			.l-dandelion {
				@include grid-span(8, 9, $gutter: 0);
			}

			.l-history {
				@include grid-span(8, 9, $gutter: 0);
				clear: left;
			}

			.l-about {
				@include grid-span(8, 1, $gutter: 0);

				.l-constrained {
					padding: 35% 10% 0;
				}

				.l-headline {
					display: block;
					@include font-size(20px);
					text-align: left;
				}

				.l-social {
					margin: ($vert-spacing-unit * 4) 0 0;

					.l-section-title {
						@include element-visible;
					}

					.l-menu {
						text-align: left;
					}
				}
			}
		}
	}

	.l-footer {
		.l-constrained {
			padding: ($vert-spacing-unit * 3) 5% ($vert-spacing-unit * 2);
		}
	}

}

/*----------------------------------------------------------------------
>= 1008
----------------------------------------------------------------------*/

@media screen and (min-width: $large) {

	.l-bg,
	.l-header {
		display: block;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		padding-bottom: 50%;

		.l-logo {
			display: block;
			position: absolute;
			top: 31%;
			left: 15%;
		}
	}

	.l-bg {
		.l-logo {
			line-height: 1;
			@include font-size(720px);
			margin: -0.5em 0 0 -0.5em;
			width: 1em;
			height: 1em;

			svg {
				width: 100%;
				height: 100%;

				#bg-circle-0,
				#bg-circle-1,
				#bg-circle-2,
				#bg-circle-3,
				#bg-circle-4,
				#bg-circle-5 {
					opacity: 0;
				}
			}
		}
	}

	.l-header {
		overflow: visible;

		.l-logo {
			background: none;
			padding: 0;

			.icon-logo {
				@include font-size(90px);
				margin: -0.5em 0 0 -0.5em;
			}
		}
	}

	.l-main {
		.l-content {
			.l-radio {
				@include grid-span(5, 7, $gutter: 0);
			}

			.l-dandelion {
				@include grid-span(5, 12, $gutter: 0);
			}

			.l-history {
				@include grid-span(5, 11, $gutter: 0);
				clear: left;
			}

			.l-about {
				@include grid-span(10, 1, $gutter: 0);

				.l-constrained {
					padding: 15% 50% 10% 10%;
				}
			}

			.l-about-bg {
				display: block;
				@include grid-span(5, 6, $gutter: 0);
			}
		}
	}

	.l-footer {
		.l-constrained {
			padding: ($vert-spacing-unit * 4) 5% ($vert-spacing-unit * 3);
		}
	}

}

/*----------------------------------------------------------------------
>= 1360
----------------------------------------------------------------------*/

@media screen and (min-width: $xlarge) {

	.l-section-title {
		@include font-size(12px);
	}

	.l-bg {
		.l-logo {
			@include font-size(800px);
		}
	}

	.l-header {
		.l-logo {
			.icon-logo {
				@include font-size(100px);
			}
		}
	}

	.l-main {
		.l-content {
			.l-dandelion {
				a {
					.l-title {
						@include font-size(36px);
					}

					.l-description {
						@include font-size(14px);
					}
				}
			}

			.l-about {
				.l-constrained {
					padding: 15% 46% 10% 14%;
				}

				.l-headline {
					@include font-size(22px);
				}

				.l-social {
					margin: ($vert-spacing-unit * 6) 0 0;
				}
			}
		}
	}

}

/*----------------------------------------------------------------------
>= 1920
----------------------------------------------------------------------*/

@media screen and (min-width: $xxlarge) {

	html {
		font-size: 137.5%;
	}

}
