@import "bourbon";
@import "compass";
@import "breakpoint";
@import "singularitygs";

@import "variables";
@import "abstractions";
@import "base";

@include establish-baseline($base-font-size);

$vert-offset: 30px;
$horz-offset: 20px;

svg {
	display: inline-block;
	line-height: 1;
}

body {
	background: $navy;
	font-family: $sans-serif;
}

html, body {
	height: 100%;
}

a {
	@include link-colors($white, $white, $white, $white, $white);
	text-decoration: underline;

	&:visited {
		text-decoration: underline;
	}

	&:active, &:focus, &:hover {
		text-decoration: underline;
	}
}

.l-section-title {
	@include font-size(11px);
	line-height: 1;
	font-weight: bold;
	text-transform: uppercase;
}

.l-bg {
	display: none;
	position: absolute;
	z-index: 0;
	top: 50%;
	left: 50%;
}

.l-header {
	display: block;
	position: relative;
	z-index: 20;
	overflow: hidden;

	.l-site-name {
		@include element-invisible;
	}

	.l-logo {
		display: inline-block;
		background: $sky;
		padding: ($vert-spacing-unit * 0.5);
		line-height: 1;

		.icon-logo {
			@include font-size(44px);
		}
	}
}

.l-main {
	display: block;
	position: relative;
	z-index: 10;

	.l-content {
		.l-radio,
		.l-projects {
			@include clearfix;
			display: block;
			position: relative;
		}

		.l-radio {
			@include height(240px);

			.l-section-title {
				position: absolute;
				z-index: 10;
				top: 0;
				right: 0;
				margin: 0;
				@include padding($vert-offset, $horz-offset);
				color: $navy;

				.icon-circle {
					@include font-size(10px);
					margin-left: 0.6em;
				}
			}

			a {
				display: block;
				position: relative;
				z-index: 0;
				cursor: pointer;
				height: 100%;
				background: $lemon;
				text-decoration: none;

				.icon-radio {
					width: 100%;
					height: 100%;

					svg {
						width: 100%;
						height: 100%;
					}
				}

				&:visited {
					background: $lemon;
					text-decoration: none;
				}

				&:active, &:focus, &:hover {
					text-decoration: none;
				}
			}
		}

		.l-projects {
			background: red;

			.l-section-title {
				position: absolute;
				z-index: 10;
				margin: 0;
				@include padding($vert-offset, $horz-offset);
				color: $lemon;
			}

			.l-menu {
				display: block;
				position: relative;
				z-index: 0;
				list-style: none;
				margin: 0;
				padding: 0;

				.l-leaf {
					display: block;
					list-style: none;
					margin: 0;
					padding: 0;

					.l-node {
						display: block;

						.l-tbl {
							display: table;
							width: 100%;

							.l-row {
								display: table-row;

								.l-cell {
									display: table-cell;
									text-align: center;
									padding: ($vert-spacing-unit * 3) ($horz-spacing-unit * 2);
								}
							}
						}

						.l-title {
							display: block;
							color: $white;
							@include font-size(32px);
							line-height: ($base-line-height / $em-base);
							font-family: $serif;
						}

						.l-description {
							display: block;
							color: $white;
							@include font-size(12px);
							line-height: ($base-line-height / $em-base);
							margin: ($vert-spacing-unit * 0.4) 0;
						}

						.icon-play {
							@include font-size(34px);
							margin: ($vert-spacing-unit * 0.3) 0 0;
						}

						a {
							display: block;
							cursor: pointer;
							height: 100%;
							text-decoration: none;

							.l-title,
							.l-description {
								color: $white;
							}

							&:visited {
								text-decoration: none;

								.l-title,
								.l-description {
									color: $white;
								}
							}

							&:active, &:focus, &:hover {
								text-decoration: none;
							}
						}
					}

					&:first-child {
						.l-node {
							.l-tbl {
								.l-row {
									.l-cell {
										padding: ($vert-spacing-unit * 5) ($horz-spacing-unit * 2) ($vert-spacing-unit * 3);
									}
								}
							}
						}
					}
				}
			}

			.l-node-dandelion {
				a {
					background-color: $dark-sky;
					background-repeat: no-repeat;
					background-position: 50% 50%;
					background-size: auto;
				}
			}
		}
	}
}

/* Only use hover styles for large elements on non-touch devices */
.no-touchevents {
	.l-main {
		.l-content {
			.l-radio {
				a {
					&:active, &:focus, &:hover {
						background: $sky;
					}
				}
			}

			.l-projects {
				.l-menu {
					.l-leaf {
						.l-node {
							&:active, &:focus, &:hover {
								.l-title,
								.l-description {
									color: $sky;
								}
							}
						}
					}
				}
			}
		}
	}
}

.bgsizecover {
	.l-main {
		.l-content {
			.l-projects {
				.l-node-dandelion {
					a {
						-webkit-background-size: cover;
						-moz-background-size: cover;
						-o-background-size: cover;
						background-size: cover;
					}
				}
			}
		}
	}
}

.l-footer {
	@include clearfix;
	display: block;
	position: relative;
	z-index: 10;

	> .l-constrained {
		@include padding($vert-offset, $horz-offset);
	}

	.l-social {
		display: block;

		.l-section-title {
			color: $light-sky;
			margin: 0 0 1em;
		}

		.l-menu {
			@include clearfix;
			@include font-size(12px);
			line-height: ($base-line-height / $em-base);
			list-style: none;
			margin: 0;
			padding: 0;

			.l-leaf {
				float: left;
				list-style: none;
				margin: 0 ($horz-spacing-unit * 0.75) 0 0;
				padding: 0 ($horz-spacing-unit * 0.75) 0 0;
				border-right: 1px solid $dark-sky;

				&:last-child {
					margin: 0;
					padding: 0;
					border: 0;
				}

				a {
					text-decoration: none;

					&:visited {
						text-decoration: underline;
					}

					&:active, &:focus, &:hover {
						text-decoration: underline;
					}
				}
			}
		}
	}

	.l-credit {
		display: block;
		width: 100%;
		margin-top: $vert-offset;
		color: $navy-grey;

		p {
			@include font-size(11px);
			line-height: ($base-line-height / $em-base);
			margin-top: 0;

			&:last-child {
				margin: 0;
			}
		}

		a {
			text-decoration: underline;
			color: $navy-grey;

			&:visited {
				text-decoration: none;
			}

			&:active, &:focus, &:hover {
				text-decoration: none;
			}
		}
	}
}

/*----------------------------------------------------------------------
>= 752
----------------------------------------------------------------------*/

@media screen and (min-width: $medium) {

	$vert-offset: 50px;
	$horz-offset: 40px;

	.l-main {
		.l-content {
			.l-radio {
				@include height(320px);

				.l-section-title {
					@include padding($vert-offset * 0.75, $horz-offset);
				}
			}

			.l-projects {
				.l-section-title {
					@include padding($vert-offset, $horz-offset);
				}

				.l-menu {
					.l-leaf {
						.l-node {
							.l-tbl {
								.l-row {
									.l-cell {
										padding: ($vert-spacing-unit * 5) ($horz-spacing-unit * 2);
									}
								}
							}
						}

						&:first-child {
							.l-node {
								.l-tbl {
									.l-row {
										.l-cell {
											padding: ($vert-spacing-unit * 7) ($horz-spacing-unit * 2) ($vert-spacing-unit * 5);
										}
									}
								}
							}
						}
					}
				}
			}
		}
	}

	.l-footer {
		> .l-constrained {
			@include padding($vert-offset, $horz-offset);
		}
	}

}

/*----------------------------------------------------------------------
LANDSCAPE
----------------------------------------------------------------------*/

@media screen and (min-width: $medium) and (orientation: landscape) {

	$vert-offset: 50px;
	$horz-offset: 40px;

	body {
		overflow: hidden;
	}

	.l-bg {
		display: block;
		position: absolute;
		overflow: hidden;
		line-height: 1;
		@include font-size(640px);
		margin: -0.5em 0 0 -0.5em;
		width: 1em;
		height: 1em;
		top: 50%;
		left: 50%;

		svg {
			width: 100%;
			height: 100%;

			#bg-circle-0,
			#bg-circle-1,
			#bg-circle-2,
			#bg-circle-3,
			#bg-circle-4 {
				opacity: 0;
			}
		}
	}

	.l-header {
		position: absolute;
		top: 50%;
		left: 50%;
		overflow: visible;

		.l-logo {
			display: block;
			background: none;
			padding: 0;

			.icon-logo {
				@include font-size(100px);
				margin: -0.5em 0 0 -0.5em;
			}
		}
	}

	.l-main {
		float: left;
		width: 50%;
		height: 100%;

		.l-content {
			height: 100%;

			.l-radio,
			.l-projects {
				height: 50% !important;
			}

			.l-projects {
				.l-menu {
					height: 100%;

					.l-leaf {
						height: 100%;

						.l-node {
							height: 100%;

							.l-tbl {
								height: 100%;

								.l-row {
									.l-cell {
										vertical-align: middle;
										padding: ($vert-spacing-unit * 2) ($horz-spacing-unit * 2) !important;
									}
								}
							}
						}

						&:first-child {
							.l-node {
								.l-tbl {
									.l-row {
										.l-cell {
											padding: ($vert-spacing-unit * 4) ($horz-spacing-unit * 2) ($vert-spacing-unit * 2) !important;
										}
									}
								}
							}
						}
					}
				}
			}
		}
	}

	.l-footer {
		float: left;
		width: 50%;
		height: 100%;

		> .l-constrained {
			height: 100%;
			padding: 0;
		}

		.l-social {
			height: 100%;

			.l-tbl {
				display: table;
				width: 100%;
				height: 100%;

				.l-row {
					display: table-row;

					.l-cell {
						display: table-cell;
						vertical-align: middle;
						text-align: right;
						@include padding($vert-offset, $horz-offset);
					}
				}
			}

			.l-menu {
				.l-leaf {
					float: none;
					margin: ($vert-spacing-unit * 0.15) 0;
					padding: 0;
					border: none;

					&:last-child {
						margin: ($vert-spacing-unit * 0.15) 0;
					}
				}
			}
		}

		.l-credit {
			position: absolute;
			bottom: 0;
			left: 0;
			text-align: right;

			.l-constrained {
				@include padding($vert-offset, $horz-offset);
			}
		}
	}

}

/*----------------------------------------------------------------------
>= 1360
----------------------------------------------------------------------*/

@media screen and (min-width: $xlarge) {

	$vert-offset: 60px;
	$horz-offset: 50px;

	.l-section-title {
		@include font-size(12px);
	}

	.l-main {
		.l-content {
			.l-radio {
				.l-section-title {
					@include padding($vert-offset * 0.75, $horz-offset);

					.icon-circle {
						@include font-size(11px);
					}
				}
			}

			.l-projects {
				.l-section-title {
					@include padding($vert-offset, $horz-offset);
				}

				.l-menu {
					.l-leaf {
						.l-node {
							.l-title {
								@include font-size(36px);
							}

							.l-description {
								@include font-size(14px);
							}

							.icon-play {
								@include font-size(38px);
							}
						}
					}
				}
			}
		}
	}

	.l-footer {
		> .l-constrained {
			@include padding($vert-offset, $horz-offset);
		}
	}

}

@media screen and (min-width: $xlarge) and (orientation: landscape) {

	$vert-offset: 60px;
	$horz-offset: 50px;

	.l-footer {
		> .l-constrained {
			padding: 0;
		}

		.l-social {
			.l-tbl {
				.l-row {
					.l-cell {
						@include padding($vert-offset, $horz-offset);
					}
				}
			}
		}

		.l-credit {
			.l-constrained {
				@include padding($vert-offset, $horz-offset);
			}
		}
	}

}

/*----------------------------------------------------------------------
>= 1920
----------------------------------------------------------------------*/

@media screen and (min-width: $xxlarge) {

	html {
		font-size: 137.5%;
	}

}
